<!-- Image -->
<tr>
    <td align="center" style="font-size:0px;padding:0px;word-break:break-word;">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
        <tbody>
        <tr>
            <td style="width:180px;">
            <img alt="" src="{{ image_src }}" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;" width="180" height="auto" />
            </td>
        </tr>
        </tbody>
    </table>
    </td>
</tr>
<tr>
    <td style="font-size:0px;word-break:break-word;">
    <div style="height:30px;line-height:30px;">&#8202;</div>
    </td>
</tr>
<!-- Image END -->