{% extends 'mail/base.html' %}
{% load mail_tags %}

{% block preheader %}
Your CryptoCash password has been successfully changed.
{% endblock %}

{% block content %}    
    {% title_elem "Password Changed Successfully" %}

    {% with greeting="Hi "|add:username|add:"," %}
        {% paragraph_elem greeting %}
    {% endwith %}

    {% paragraph_elem "This is a confirmation that the password for your CryptoCash account has been successfully updated." %}

    {% paragraph_elem "You can now log in to your account using your new password. No further action is required from your side." %}

    {% meta_elem "Warning: If you did not perform this change, your account may have been compromised. Please reset your password immediately or contact our support team to secure your account." %}
{% endblock %}

{% block footer_text %}
Thank you for staying with CryptoCash.
{% endblock %}