{% extends 'mail/base.html' %}
{% load mail_tags %}

{% block preheader %}
You requested a password reset for your CryptoCash account. Click the link inside to set a new password.
{% endblock %}

{% block content %}    
    {% title_elem "Password Reset Request" %}

    {% with greeting="Hi "|add:username|add:"," %}
        {% paragraph_elem greeting %}
    {% endwith %}

    {% paragraph_elem "We received a request to reset the password for your CryptoCash account. To choose a new password and regain access, please click the button below:" %}

    {% button_elem "Reset Password" reset_url %}

    {% paragraph_elem "If the button above doesn't work, you can copy and paste the following link into your browser:" %}
    
    {% meta_elem reset_url %}

    {% meta_elem "Please note: This link is only valid for the next 3 hours. For security reasons, do not share this link with anyone else." %}
{% endblock %}

{% block footer_text %}
If you didn't request a password reset, you can safely ignore this email. No changes will be made to your account.
{% endblock %}